
@import './colors.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --clr-background: var(--darker-gray);
  --clr-outline: var(--dark-gray);
  --clr-text: var(--white);
  --nav-height: 50px;
}



body {
  background-color: var(--clr-background);
  color: var(--clr-text);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

a {
  color: var(--blue);
  text-decoration: none;
}
